#container {
    /* Definir os itens em coluna */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Limita o conteúdo para caber nos notebooks */
    max-width: 75rem;

    /* Espaço interno dos elementos */
    padding: 5.625rem;
}

#container h1 {
    /* Peso da fonte, alinhamento e margem */
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 3.75rem;
}

#container h2 {
    text-align: center;
}

#container p#instrucao {
    text-align: center;
    margin: 1.25rem 0 3.75rem 0;
}

#container img {
    width: 37.5rem;
}

#container hr {
    background: #e5e5e5;
    height: 0.0625rem;
    width: 100%;
    margin: 6.25rem 0 2.1875rem 0;
}

#container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form p#aviso {
    font-weight: 500;
    margin-bottom: 100px;
}

form p#aviso strong{
    color: #bd041a;
    font-weight: 600;
}

form div.column-input{
    /* Alinha todos os labels em coluna com os seus respectivos inputs */
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 70px;
}

form label {
    font-weight: 500;
}

.column-input input[type="text"],
input[type="number"],
input[type="submit"],
select,
textarea,
button {
    /*Padroniza o estilo dos inputs */
    border: 1px solid #201e1f;
    padding: 10px;
    height: 35px;
}

form .row{
    /* Alinha horizontalmente */
    
    display: flex;
    width: 100%;
    gap: 60px;
}

.column-input.input-text {
    /* Faz o input usar 50% do container dele */
    width: 50%;
}

.column-input.select{
    /* Faz o input usar 30% do container dele */
    width: 30%;
}

.column-input select {
    padding: 0 5px;
}

form .row-selectors{

    display: flex;
    align-items: center;
    gap: 10px;
}

form .row-selectors input[type="radio"]{
    width: 25px;
    height: 25px;
}

form .row selectors label{
    /* Coloca os labels padrão dos radio buttons com a fonte padrão novamente */
    font-weight: 400;
}

form textarea {
    min-height: 100px;
    max-height: 200px;
    min-width: 50%;
    max-width: 100%;
}

form button {
    padding: 5px 20px;
}

